/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: IBM Plex Mono, sans-serif;
  inline-size: 100%;
  padding: 10px;
  background-image: url(../images/cover-image-dark.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

.header {
  inline-size: 100%;
  position: relative;
}
.header::before, footer::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}
.header::after, footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}
.decorated-zone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 3px;
  align-items: center;
}
.decorated-zone-text {
  inline-size: 33px;
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}
.decorated-zone-icon {
  inline-size: 25px;
  block-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decorated-zone-icon img {
  inline-size: 18px;
  block-size: 18px;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}
.header__theme-menu {
  margin-block-start: 40px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: end;
  justify-content: center;
  gap: 15px;
}
.header__theme-menu-button {
  outline: none;
  border: 0;
  inline-size: 70px;
  padding: 0 13px;
  color: var(--accent-color);
  background-color: transparent;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}
.header__theme-menu-button:hover  {
  border: 1px solid var(--button_hover-border_color);
}
.header__theme-menu-button:focus  {
  appearance: none;
  outline: none;
  border: 0;
}
.header__theme-menu-button:focus-visible  {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  margin-block-start: 70px;  
}
.title  {
  color: #db00ff;
  text-shadow: 4px 4px 0px var(--shadow_color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 83.5%;
  text-transform: lowercase;
}
.header__subtitle {
  margin: 53px 0 66px;
  inline-size: 100%;
}
.title-decor {
  color: #000028;
  background: #ff0070;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.main {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}
.main__content-text {
  inline-size: 100%;
}
.main__content-text-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}
.main__content-text-item {
  display: grid;
  row-gap: 20px;
}
.main__content-text_title {
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.main__content-text_subtitle-list {
  display: grid;
  row-gap: 20px;
}
.main__content-text_subtitle-item {
  display: grid;
  row-gap: 10px;
}
.main__content-text_description {
  color: var(--text_color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}
.shadow-text {
  color: var(--text_color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 1px 0 var(--shadow_color);
}
.shadow-text:hover {
  border-block-end: 1px solid var(--shadow-text_border-color);
}
.shadow-text:focus  {
  appearance: none;
  outline: none;
  border: 0;
}
.shadow-text:focus-visible  {
  border: 1px solid var(--shadow-text_border-color);
}
.main__content-img {
  inline-size: 100%;
  
}
.main__content-img-list {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin-block-start: 10px;
}
.main__content-img-photo {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}