/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex Mono", monospace;
  inline-size: 100%;
  padding-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  padding-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  background-image: url(../images/cover-image-dark.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.header,
.footer {
  padding-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  padding-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inline-size: 100%;
}

.header {
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  /* row-gap: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem); от 55px до 162px */
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: 0;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone__text {
  display: inline-block;
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: 10px;
}

.decorated-zone__text::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  transform: translateY(-25%);
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 8px;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.header__theme-menu-button {
  outline: none;
  border: 0;
  padding: 0 13px 3px;
  color: var(--accent-color);
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button_hover-border_color);
  transition: .2s;
}

.header__theme-menu-button:focus {
  appearance: none;
  outline: none;
  border: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
}

.title {
  color: #db00ff;
  text-shadow: 4px 4px 0px var(--shadow_color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 83.5%;
  text-transform: lowercase;
}

.header__subtitle {
  justify-self: end;
  margin-block-end: 15px;
  inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  block-size: min-content;
}

.title-decor {
  color: #000028;
  background: #ff0070;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

/* Стили для блока main */

.main {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

/* Секция с текстом */

.main__text {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.text-block,
.text-block__list,
.text_descr-block {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.text-block__item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.text-block__title,
.text-descr__list_subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

h4.text-block__item_title {
  font-weight: 400;
}

.text-block__title {
  color: var(--accent-color);
}

.text-descr__list_subtitle {
  color: #000028;
}

.text-block__item_description {
  color: var(--text_color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.text-hadow {
  color: var(--text_color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 1px 0 var(--shadow_color);
}

.text-hadow:hover {
  border-block-end: 1px solid var(--text-hadow_border-color);
}

.text-hadow:focus {
  appearance: none;
  outline: none;
  border: 0;
}
.text-hadow:focus-visible {
  border: 1px solid var(--text-hadow_border-color);
}

.main__img {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0.625rem, 0.3268rem + 1.2723vw, 0.9375rem);
}

.main__img-list {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.main__img-photo {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  min-block-size: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header__theme-menu {
    justify-self: end;
    margin-block-start: 110px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__subtitle {
    inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
    align-self: start;
    margin-block-start: 48px;
  }

  .text-block:not(.text-block:nth-child(2)) {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .text-block:nth-child(2) .text-block__title {
    inline-size: 236px;
  }
  .main__img-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .img-1 {
    grid-column: span 2;
  }

  .img-2 {
    grid-row: span 2;
  }

  .img-3 {
    grid-row: span 2;
  }

  .img-5 {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header {
    row-gap: 0px;
  }
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
   align-self: center;
  }

  .header__subtitle {
    margin-block-start: 58px;
  }

  .main {
    margin-block-end: 0px;
  }

  .text-block:nth-child(2) .text-block__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .text-block:not(.text-block:nth-child(2)) {
    column-gap: 10px;
  }

  .text-block:nth-child(2) .text-block__item {
    grid-template-rows: min-content 1fr;
  }

  .text-block:nth-child(2) .text-block__title {
    inline-size: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem);
  }

  .main__img {
    gap: 20px;
  }
}
